.card {
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    display: flex;
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 25px;
}

.card.facedown {
    background-image: url(/static/card_back.svg);
    background-size: cover;
}

.card .info-bar {
    height: 100%;
    width: 20%;
    background-color: #999999;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px 0px 0px 15px;
}
.card .card-body {
    flex-grow: 1;
  /*  display: flex;
    align-items: center;
    justify-content: center;*/
}

.card .info-bar .card-name-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.card-name-container .card-name {
    transform: rotate(-90deg);
    transform-origin: center;
    margin: auto;
    font-size: 3.5em;
    white-space: nowrap;
}

.info-bar .card-level {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    background: #38a9e4;
    color: white;
    font-family: Helvetica, Arial Black, sans;
    font-size: 48px;
    text-align: center;
    line-height: 0px;
    border: 5px solid black;
}

.info-bar .card-rank {
    height: 10%;
}

.card .card-image-container {
    width: 75%;
    height: 40%;
    margin: auto;
    margin-top: 33%;
}
.card .card-image {
    width: 100%;
    height: 100%;
}

.card-image.giraffe {
    background: url(/static/animals.svg#giraffe);
}
.card-image.panda {
    background: url(/static/animals.svg#panda);
}
.card-image.parrot {
    background: url(/static/animals.svg#parrot);
}
.card-image.penguin {
    background: url(/static/animals.svg#penguin);
}
.card-image.monkey {
    background: url(/static/animals.svg#monkey);
}
.card-image.rabbit {
    background: url(/static/animals.svg#rabbit);
}
.card-image.snake {
    background: url(/static/animals.svg#snake);
}
.card-image.hippo {
    background: url(/static/animals.svg#hippo);
}
.card-image.pig {
    background: url(/static/animals.svg#pig);
}
.card-image.elephant {
    background: url(/static/animals.svg#elephant);
}