{% if c.face_up %}
<div class="card">
    <div class="info-bar">
        <div class="card-level">
            {{c.power}}
        </div>
        <div class="card-name-container">
            <div class="card-name">
                {{c.name}}
            </div>
        </div>
        <div class="card-rank">
            1
        </div>
    </div>
    <div class="card-body">
        <div class="card-image-container">
            <div class="card-image panda">
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="card facedown">
</div>
{% endif %}